{% import "cup_manager/config_data.xml" as config_data %}

{% set sel_col = "aaa" %}
{% set def_col = "000" %}
{% set sel_aph = "5" %}
{% set def_aph = "7" %}

{% macro set_selection_color(is_selected) %}
  {% if is_selected %}
    focusareacolor1="{{ sel_col }}{{ sel_aph }}" focusareacolor2="{{ sel_col }}{{ def_aph }}"
  {% else %}
    focusareacolor1="{{ def_col }}{{ sel_aph }}" focusareacolor2="{{ def_col }}{{ def_aph }}"
  {% endif %}
{% endmacro %}

<frame pos="0 17" z-index="150">

  {# title bar #}
  <quad pos="0 62.5" size="220 137" z-index="-50" halign="center" valign="top" style="Bgs1InRace" substyle="BgCardList" />
  <quad pos="0 61.5" size="218 11" z-index="-49" halign="center" valign="top" style="Bgs1InRace" substyle="BgCardList"/>
  <quad pos="-108 60.5 0" size="9 9" z-index="1" style="{{ icon_style }}" substyle="{{ icon_substyle }}"/>
  <label pos="-97 57.8 0" size="190 7" z-index="2" text="$o{{ title }}" textsize="2.5" textcolor="FFFFFFF" halign="left"/>
  <quad pos="99 59.5 0" size="7 7" z-index="1" style="Icons128x32_1" substyle="Close" action="{{ id }}__config_button_close"/>

  {# config tabs #}
  <frame pos="-109 50" halign="left" valign="top">
    {% for tab in config_tabs %}
      <label pos="{{ 10 + (20.5 * loop.index0) }} -3.5" size="20 7" textprefix="$o" text="{{ tab.name }}" textsize="1.3" valign="center2" halign="center" {{ set_selection_color(tab.selected) }} action="{{ id }}__config_tab_{{ loop.index0 }}"/>
    {% endfor %}
      <quad pos="0 -7" size="218 1" halign="left" valign="top" bgcolor="{{ sel_col }}{{ sel_aph }}" />
  </frame>

  {# sidebar #}
  <frame pos="-109 41" halign="left" valign="top">
    {% for sidebar in sidebar_items %}
      <label pos="0 {{ -11 - (7.5 * loop.index0)}}" size="35 7" textprefix=" " text="{{ sidebar.name }}" textsize="1.3" valign="center2" halign="left" {{ set_selection_color(sidebar.selected) }} action="{{ id }}__config_sidebar_{{ loop.index0 }}"/>
    {% endfor %}
    <quad pos="35 -7.5" size="1 106" halign="left" valign="top" bgcolor="{{ sel_col }}{{ sel_aph }}" />

    <frame z-index="10">
      {{ config_data.button_icon(0, 0, 6, 6, "+", action=id + "__sidebar_add_item", z_index=15) }}
      <quad pos="0 0" size="17.75 6" halign="left" valign="top" bgcolor="{{ def_col }}{{ def_aph }}" z-index="-40" />
      <label pos="7 -3" size="10.75 6" halign="left" valign="center2" text="Add" textsize="2" z-index="15" />

      {{ config_data.button_icon(17.75, 0, 6, 6, "-", action=id + "__sidebar_del_item", z_index=15) }}
      <quad pos="18.25 0" size="17.75 6" halign="left" valign="top" bgcolor="{{ def_col }}{{ def_aph }}" z-index="-40" />
      <label pos="25.25 -3" size="10.75 6" halign="left" valign="center2" text="Del" textsize="2" z-index="15" />
    </frame>

    {# sidebar paging #}
    {% if sidebar_num_pages > 1 %}
      <quad pos=" 5 -105" size="8 8" style="Icons64x64_1" substyle="ClipPause" z-index="-50" />
      <quad pos="28 -105" size="8 8" style="Icons64x64_1" substyle="ClipPause" z-index="-50" />
      {% if sidebar_page > 1 %}
        <quad pos=" 5 -105" size="8 8" style="Icons64x64_1" substyle="ArrowUp" action="{{ id }}__sidebar_page_prev" />
      {% endif %}
      {% if sidebar_page < sidebar_num_pages %}
        <quad pos="28 -105" size="8 8" style="Icons64x64_1" substyle="ArrowDown" action="{{ id }}__sidebar_page_next" />
      {% endif %}
      <label pos="20.5 -107.5" size="15 5" text="{{ sidebar_page }} / {{ sidebar_num_pages }}" textsize="1.5" halign="center"/>
    {% endif %}

    {# TODO: Icons64x64_1/Add to add a new entry #}
  </frame>

  {# data #}
  <frame pos="-72 41" z-index="10">
    {% if config_context.name == "names" %}
      {{ config_data.names(id, config_context) }}
    {% elif config_context.name == "presets" %}
      {{ config_data.presets(id, config_context) }}
    {% elif config_context.name == "payouts" %}
      {{ config_data.payouts(id, config_context) }}
    {% endif %}
  </frame>

</frame>
<script><!-- {% include 'cup_manager/config.Script.txt' %} --></script>
